body{ background-color: #2b1e01;
      color: rgb(249, 246, 243);
      font-size: large;}
h1{ color: chocolate;
    text-align: left;}
h3{ color: white;
    text-align: center;
    font-size: 6;
    font-weight: bold;
}